---
title: {{ title }}
source: {{ source }}
tags: [{% for tag in tags %}"{{ tag }}"{% if not loop.last %}, {% endif %}{% endfor %}]
cover: {{ cover_image }}
saved: {{ saved_date }}
type: github-repo
---

{% if summary %}
> 💡 **Summary:** {{ summary }}
{% elif description %}
> {{ description }}
{% endif %}

---

{{ content }}
